.mixes-view {
  padding: 40px;

  .mixes-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    margin: 0 auto;

    .filter {
      color: #8c8c8c;
      cursor: pointer;
      // margin-right: 10px;
      font-weight: 300;

      &.active {
        color: #000;
        font-weight: 700;
      }

      &:hover {
        transition: color .2s;
        color: #595959;
      }
    }
  }

  .mixes-list {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
